@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./nav.css";
@import "./carousel.css";

.bg-active {
  background: #20d1c3;
}

.border-active {
  border-color: #20d1c3;
}

.text-active {
  color: #20d1c3;
}

.bg-footer {
  background: #38dbef;
  background: linear-gradient(to bottom, #20d1c3 0%, #38dbef 100%);
}
